*{
    margin: 0px;
    font-family: "inter";
}
#titulo-cabecalho{
    color: white;
    font-size: 60px;
    margin-left: 62px;
    padding-top: 206px;
}
#texto-cabecalho{
    color:white;
    margin-left: 62px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 150px;
}
#cabecalho{
    background-color: #303030;
}
.informativa{
    background: #F9F9F9;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
}
.numero{
    font-size: 40px;
    font-weight: 600;
    line-height: 30px;
    padding: 52px 0px 52px 100px;
}
.container{
    display: flex;
    justify-content:space-between;
}
.texto-arquiteto{
    font-size: 40px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    padding-left: 300px;
    padding-top: 250px ;
}
#historia{
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    text-align:left;
    padding: 50px 0px 0px 300px;   
}
.img{
    width: 510px;
    height: 605px;
    top: 781px;
    left: 876px;
    border-radius:30px;
    padding-top: 50px;
    padding-right:150px;
    padding-bottom: 50px;
    padding-left: 20px;   
}
#formulario{
    background-color: #303030;
    text-align: center;
}
#titulo-formulario{
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}
input{
    width: 250px;
    height: 40px;
    border-radius:5px;
    margin: 10px;
    border: 0px;
    padding-left: 10px;
}
button{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: #c07212;
    color: white;
    border: 0px;
    margin-bottom: 50px;
    cursor: pointer;
    font-weight: bolder;
    font-family:'inter';
}
button:hover{
    background-color: #804804;
    color: white;
    transform: translate(-7px);
    box-shadow: 0px 15px 20px #cf7301;
    transition-duration: 0.5s;
}